<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EZEN</title>
    <style>
      h1 {
        color: red;
      }
      .a {
        font-size: 30px;
      }
      .b {
        color: green;
      }
      #test {
        color: brown;
      }
    </style>
  </head>
  <body>
    <!-- 제목 태그 -->
    <h1>제목1</h1>
    <h2>제목2</h2>
    <h3 id="test">제목3</h3>
    <!-- 글의 문단 태그 -->
    <p class="a b">
      (서울=연합뉴스) 한지훈 기자 = 대통령실은 11일로 북한이 군사정찰위성을
      발사하겠다고 예고한 기한이 만료됐지만, 대비 상황을 해제할 단계는 아니라고
      판단하는 것으로 알려졌다.
      <!-- 줄 바꿈 -->
      <br />

      대통령실 고위 관계자는 이날 연합뉴스와 통화에서 "애초 예고 기간이
      끝났지만, 북한은 언제든 예고 없이 장거리 탄도 미사일을 발사할 수 있다"고
      말했다.
      <br />
      앞서 북한은 5월 31일 0시부터 이날 0시 사이에 정찰위성을 발사할 계획이라고
      지난달 30일 국제해사기구(IMO)에 통보했다. 이어 예고 기간 첫날인 지난달
      31일 발사체를 쏘아 올렸으나 서해로 추락하며 실패했다. 대통령실은 북한이
      정찰위성 발사를 빙자해 장거리 탄도미사일을 시험 발사했다고 보고 이를 유엔
      안보리 결의를 위배하는 중대 도발로 규탄했다. 이후에도 북한이 예고 기간 내
      2차 발사를 시도할 가능성이 충분하다고 보고 관련 동향을 주시해왔다. 특히
      북한이 1차 발사 실패 후 IMO에 대한 사전 통보 없이 추가 발사에 나설 수
      있다고 시사한 만큼 발사지로 추정되는 지역을 집중 감시해온 것으로 전해졌다.
    </p>

    <!-- 하이퍼링크 -->
    <a class="a b" href="http://www.google.com">구글</a>
    <a href="http://www.naver.com">네이버</a>
  </body>
</html>
